h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;padding:0;
}
a{
	text-decoration: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix::after{
   content:'';
   display: block;
   clear:both;
}
.iblock{
	display: inline-block
}
.block{
	display: block;
}
.tc{
	text-align: center;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.abs{
	position: absolute;
}
.rel{
	position: relative;
}
.fixed{
	position: fixed;
}
.pt45{
	padding-top:45px;
}
.pt100{
	padding-top:100px;
}
